* {
    /* border: solid 2px black; */
}

body {
    position: relative;
    right: 0;
    font-family: '微軟正黑體';
    margin: 0;
}

.gameWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 710px;
}

.myCanvas {
    position: relative;
    display: flex;
    width: 800px;
    height: 600px;
    background-color: #eee;
    border:5px solid #02bbdc;
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
}

.myCanvas .topic {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.lives{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 100px;
    transform: translateX(-25%);
    right: 0;
}

/* hint */
.overlay{
    position: relative;
    display: none;
    /* display: block; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.hintContainer{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hintContainer > h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #000;
    cursor: pointer;
}
.hintContainer > * {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
}
.hintContainer svg {
    height: 100%;
    margin: 10px;
}
.hintContainer .angles{
    flex: 7;
}
.hintContainer .angles:nth-child(2) {
    flex: 3;
    align-items: center;
}
.hintContainer .angles h1 {
    margin: 0;
    right: 0;
    background-color: #02bbdc;
    border-radius: 10px;
}

.closeHintBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.closeHintBtn:hover {
    color: #fff;
    background-color: #000;
}

/* Rule */
.myCanvas .gameRule {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: block;
}

.myCanvas .gameRule *{
    font-size: 40px;
}

.myCanvas .gameRule .context{
    position: absolute;
    top: 20%;
    left: 15%;
}

.myCanvas .gameRule #start{
    transform: translateX(5%);
}

.myCanvas .gameRule #start #version {
    position: absolute;
    font-size: 20px; 
    top: 0%;
    right: 10%;
    color: #bbb;
}

.myCanvas .gameRule #end{
    position: absolute;
    top: 80%;
    left: 30%;
}

.gameBtn {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameBtn * {
    border:2px solid #02bbdc;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.gameBtn *:hover {
    transform: translate(0px, -5px);
    transition: 0.5s;
}

/* level */
.levelBtn {
    padding-top: 10px;
    margin: 0;
}
.levelBtn * {
    background-color: #eee;
    color: #8e8e9c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.levelBtn *:hover,.levelBtn *.active {
    background-color: #02bbdc;
    color: #fff;
    transition: 0.5s;
}

.bingo {
    border:2px solid green;
    background-color: green;
    color: #fff;
}

/* option */
.optionsBtn * {
    background-color: #02bbdc;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    box-sizing: border-box;
}

.optionsBtn *:hover {
    background-color: #eee;
    color: #8e8e9c;
    transition: 0.5s;
}

.optionsBtn #startBtn {
    flex: 7;
}
.optionsBtn #recordBtn {
    flex: 2;
}
.optionsBtn #hintBtn {
    flex: 1;
}
.shadow {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

/* container */
.game_area {
    display: flex;
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0%;
    left: 0%;
    margin-bottom: 20px;
}
.game_area .question_container {
    flex: 4;
    display: flex;
    flex-direction: column;
}
.game_area .question {
    flex: 6;
    margin: 30px;
    margin-right: 0;
    background-color: #b3e6e5;
    border-radius: 50px;
}
.game_area .angles {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.game_area .angles > *{
    background-color: #eee;
    color: #8e8e9c;
    width: 80%;
    height: 20%;
    font-size: 50px; 
    text-align: center;
    line-height: 100px;
    border: solid 4px #02bbdc;
    border-radius: 50px;
}

.game_area .angles > *:hover{
    color: black;
    background-color: #bbb;
    transform: translate(0px, -10px);
    transition: 0.3s;
}
/* fireworks */

#firework-container {
    position: absolute;
    display: none;
    z-index: 99;
    top: 15%;
    left: 5%;
    width : 90%;
    height: 85%;
}

/* result */

.result #bingo,#dada {
    position:absolute;
    margin: 0;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
    display: none;
    font-size: 500px;
}


.result #bingo {
    color: green;
}
.result #dada {
    color: red;
}
