* {
    /* border: solid 2px black; */
}

body {
    position: relative;
    right: 0;
    font-family: '微軟正黑體';
    margin: 0;
}

.gameWindow {
    position: aboslute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 710px;
}

.myCanvas {
    position: relative;
    display: flex;
    width: 800px;
    height: 600px;
    background-color: #eee;
    border:5px solid #02bbdc;
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
}

.myCanvas .topic {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

/* lives */
.lives{
    position: absolute;
    top: 2%;
    width: 100px;
    transform: translateX(-25%);
    right: 0;
}

/* Drawing Area */
.drawingArea {
    width: 100%;
    height: 100%;
}
/* Line */
.line {
    stroke: black;
    stroke-width: 5;
}
.correctLine {
    stroke: green;
    stroke-width: 5;
}
.wrongLine {
    stroke: red;
    stroke-width: 5;
}
/* hint */
.overlay{
    position: relative;
    display: none;
    /* display: block; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hintContainer{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hintContainer > h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #000;
    cursor: pointer;
}
.hintContainer .left, .hintContainer .right{
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 8% 5% 3% 15%;
}
.hintContainer .left{
    padding-left: 10%;
    padding-right: 15%;
}
.hintContainer .left .topicArea {
    margin: 5%;
}
.hintContainer .right{
    margin: 8% 20% 3% 0%;
    padding-right: 10%;
}

.closeHintBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.closeHintBtn:hover {
    color: #fff;
    background-color: #000;
}

/* Rule */
.myCanvas .gameRule {
    /* display: none; */
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.myCanvas .gameRule *{
    font-size: 40px;
}

.myCanvas .gameRule .context{
    position: absolute;
    top: 20%;
    left: 15%;
}

.myCanvas .gameRule #start{
    transform: translateX(5%);
}

.myCanvas .gameRule #start #version {
    position: absolute;
    font-size: 20px; 
    top: 0%;
    right: 10%;
    color: #bbb;
}

.myCanvas .gameRule #end{
    position: absolute;
    top: 80%;
    left: 30%;
}

.gameBtn {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameBtn * {
    border:2px solid #02bbdc;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.gameBtn *:hover {
    transform: translate(0px, -5px);
    transition: 0.5s;
}

/* level */
.levelBtn {
    padding-top: 10px;
    margin: 0;
}
.levelBtn * {
    background-color: #eee;
    color: #8e8e9c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.levelBtn *:hover,.levelBtn *.active {
    background-color: #02bbdc;
    color: #fff;
    transition: 0.5s;
}

.bingo {
    border:2px solid green;
    background-color: green;
    color: #fff;
}

/* option */
.optionsBtn * {
    background-color: #02bbdc;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    box-sizing: border-box;
}

.optionsBtn *:hover {
    background-color: #eee;
    color: #8e8e9c;
    transition: 0.5s;
}

.optionsBtn #startBtn {
    flex: 4;
}
.optionsBtn #submitBtn {
    flex: 4;
    background-color: #02dc31;
    border-color: #02dc31;
  }
  
.jumpBtn {
    animation: jump 1s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes jump {
0%, 100%{
    transform: translateY(0);
}
50% {
    transform: translateY(-5px);
}
}
.shadow {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

/* container */

.game_area {
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0%;
    left: 0%;
    margin-bottom: 20px;
}

/* fireworks */

#firework-container {
    position: absolute;
    display: none;
    z-index: 99;
    top: 15%;
    left: 5%;
    width : 90%;
    height: 85%;
}

/* result */

.result #bingo,#dada {
    position:absolute;
    margin: 0;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
    display: none;
    font-size: 500px;
}


.result #bingo {
    color: green;
}
.result #dada {
    color: red;
}

/* Game Area */
.game_area {
    display: flex;
    justify-content: space-between;
}

.game_area .left, .game_area .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex: 5;
    margin-left: 10%;
}

/* Question */
.left .questionArea {
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 40%;
    flex: 2;
    align-items: center;
}
.topicArea {
    position: relative;
    flex: 7;
    height: 100%;
}

/* water */
.topicArea .water{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    background-color: #02bbdc;
    bottom: 0;
}
/* scalls */
.topicArea .scalls{
    position: absolute;
    z-index: 5;
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}
.topicArea .scalls li{
    list-style: none;
    border: solid 1px black;
}
/* cup */
.topicArea .cup{
    position: absolute;
    z-index: 10;
    border: solid 3px black;
    box-sizing: border-box;
    border-top: none;
    width: 100%;
    height: 100%;
}
/* Answer */
.right .answerArea {
    margin-left: 40%;
    display: flex;
    margin-top: 5%;
    width: 40%;
    flex: 2;
    align-items: center;
}

/* Fraction */
.fraction{
    display: flex;
    flex: 7;
    flex-direction: column;
    align-items: center;
}
.fraction .top, .fraction .bottom {
    flex: 5;
}
.fraction .fractionalLine{
    border: solid 2px black;
    width: 70%;
}
.fraction .top h1{
    color: red;
}
.fraction h1{
    margin: 0;
}

/* dot */
.game_area .questionArea .dot, .game_area .answerArea .dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.game_area .questionArea .dot {
    margin-left: 10%;
}
.game_area .answerArea .dot {
    margin-right: 10%;
}