.navbar {
    background-color: #57B9D9; 
    height: 90px; 
    width: 100%; 
    margin: 0;
}

.link-block {
    display: block;
    width: 100%;
    height: 220px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}   

.link-block:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.main-menu{
    padding-top: 90px;
}

.submenus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.submenu-link-block {
    display: flex;
    color: white;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.submenu-link-block:hover {
    background-color: #0056b3;
    text-decoration: none;
}