.body{
    margin: 0px;
    padding: 0px;
}

.navbar-toggler {
    z-index:1000;
    border: 10px;
    color: blueviolet;
    background-color: #57B9D9;
    margin-top: 10px;
}

.nav-link{
    background-color: #57b9d985;
    
}

.navbar-brand {
   margin-bottom: 8px;
}



.nav2 {
    display: none;
}

.nav-link:hover .nav1{
    display: none;
    transition-delay: 5s;
}

.nav-link:hover .nav2{
    display: block;
    transition-delay: 5s;
}


.grade-item {
    display: block;
    padding-top: 140px;

}
