@import url(../../game_view/css/combination_lock.css);

/* For Develop */
* {
    /* border: solid 2px black; */
}

.topArea {
    flex-wrap: wrap;
}

.topArea img {
    position: absolute;
    z-index: 10;
    max-width: 100%;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}
.grid > div {
    border: 1px solid black;
    width: 38px;
    height: 38px;
}