*{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.record{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 800px;
}

.level_1, .level_2, .level_3, .level_4, .level_5{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid rgb(15, 121, 243);
}

.game_screen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 800px;
    height: 600px;
    border: 5px solid rgb(15, 121, 243);
    background-color: rgb(218, 217, 217); 
    border-radius: 4px;
}

.game_screen>p{
    margin-left: 100px;
    font-weight: bold;
    font-size: 40px;
    line-height: 100px;
    letter-spacing: 3px;
}

.challenge_1, .challenge_2, .challenge_3, .challenge_4, .challenge_5{
    display: none;
}

.button_start, .button_last, .button_next, .button_reset, .button_again{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: #177cbe;
    width: 145px;
    height: 40px;
    border-radius: 10px;
} 

.button{
    margin-top: 10px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.button_start:hover, .button_last:hover, .button_next:hover, .button_reset:hover, .button_again:hover{
    background-color: rgb(15, 121, 243);
}

.start_screen{
    display: block;
}

.challenge_1>p, .challenge_2>p, .challenge_3>p, .challenge_4>p, .challenge_5>p{
    font-size: 30px;
    line-height: 60px;
    margin-left: 250px;
}

.challenge_1, .challenge_2, .challenge_3, .challenge_4, .challenge_5{
    align-items: flex-start;
}

img{
    width: 200px;
    height: 250px;
}

.choose_one, .choose_two{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #d36060;
}

.choose_one:hover, .choose_two:hover{
    background-color: #dbd3ad;
}

.choose_one{
    background-color: #e0607e;
}

.choose_two{
    background-color: #d36060;
}

.choose{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 260px;
    color: white;
}

.choose_one>h2, .choose_two>h2{
    font-size: 50px;
}

.circle, .fork{
    position: fixed;
    display: none;
    z-index: 10;
}

.circle>h1, .fork>h1{
    position: fixed;
    font-size: 50px;
    font-weight: bold;
    
}

.circle>h1{
    top: 250px;
    left: 295px;
    color: #e94f37;
}

.fork>h1{
    top: 270px;
    left: 365px;
    color: #01baef;
}

.circle{
    width: 400px;
    height: 400px;
    top: 70px;
    left: 170px;
}

.fork{
    top: 280px;
    left: 170px;
}

.outer{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: green;
}

.inner{
    position: absolute;
    left: 125px;
    top: 125px;
    width: 250px;
    height: 250px;
    background-color: rgb(218, 217, 217);
    border-radius: 100%;
}

.deg45{
    position: absolute;
    width: 500px;
    rotate: 45deg;
    height: 100px;
    background-color: red;
}

.deg135{
    position: absolute;
    width: 500px;
    rotate: 135deg;
    height: 100px;
    background-color: red;
}