@import url(../../game_view/css/game_style.css);

/* For Develop */
* {
}

.gameArea {
    display: flex;
    flex-direction: column;
}

.gameArea > * {
    display: flex;
}

.topArea {
    margin-top: 70px;
}

.bottomArea {
    align-items: end;
}

.bottomArea > button {
    flex: 0 0 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 100px;
    cursor: pointer;
}
.answerContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.answerArea * {
    display: inline-block;
}
.lastAnswer {
}
.nextAnswer {
}

/* Combination Lock */
.combinationLock {
    display: none;
    align-items: center;
}

.combinationLockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
}

.combinationLockContainer input[type="number"] {
    width: 60px;
    padding: 0px 0px;
    font-size: 70px;
    border: none;
    text-align: center;
    outline: none;
}

.combinationLock button {
    font-size: xx-large;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
