

body{
    font-family: '微軟正黑體';
}

/* container default setting */

.level-container{
    width:800px;
    height:600px;
    box-sizing: border-box;

    position: relative;
    
    border:5px solid #57b9d9;
    border-radius: 10px;
    background-color: #eeeeee;

}

.level-container img{
    width: 200px;
    height: 200px;

    position:absolute;
    top:45%;
    left:5%;
}

.level-container p{
    font-size: 60px;
    letter-spacing: 2px;
    position: absolute;
    top:0%;
    left:10%
}
.btn-inline{
    position: absolute;
    top:40%;
    left:40%;
}

.level-container button{
    width: 160px;
    height: 200px;
    margin: 30px;
    margin-left: 5px;
}

.level-container button{
    border-radius: 10%;
    font-size: 40px;
    
}
.left-btn{
    background-color: #0e92ca;
    box-shadow: 0 0 2px 2px #0e92ca;
    border: #0c7eaf;

}

.right-btn{
    background-color: #fe9736;
    box-shadow: 0 0 2px 2px #fe9736;
    border: #cc782a;
}

/* description */

#description{
    padding: 20px;
    padding-top: 40px;
    padding-left:80px;
    font-size: 20px;
}

#description span{
    color:#57b9d9;
}

/*game-control-btn*/
#game-control-btn{
    width:800px;
    box-sizing: border-box;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#game-control-btn .btn{
    background-color: #57b9d9;
    color: #eeeeee;
    border: none;
    border-radius: 7%;

    width:30%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 20px;
    font-weight: 500;
}
  
/* show-game-level */
#show-game-level{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    white-space: nowrap;
    width:800px;
    box-sizing: border-box;
    padding:15px;
}

#show-game-level .circle{ 
    background-color: #57b9d9;
    border-radius: 50%;
    font-size: 30px;
    width:50px;
    height: 50px;
}

#restart-btn{
    display: flex;
    justify-content: center;    
    align-items: center;
}

#restart-btn button{
    width:400px;
    height:200px;
    
    background-color:#57b9d9;
    color:#fff;
}

/*result圈圈叉叉*/
#result-right,
#result-wrong{
    width:800px;
    height:600px;
    box-sizing: border-box;
    
    background-color:transparent;

    display: flex;
    justify-content: center;    
    align-items: center;
}

#result-right img,
#result-wrong img{
    width: 250px;
    height: 250px;
}

/*CSS For Displaying*/

.level-container{
  display: none;
}

.result {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  
