@import url(../../game_view/css/combination_lock.css);

/* For Develop */
* {
    /* border: solid 2px black; */
}

.topic {
    width: 100%;
}

.ruler {
    position: absolute;
    margin-top: 30%;
    width: 100%;
}
