* {
    /* border: solid 2px black; */
}

body {
    position: relative;
    right: 0;
    font-family: '微軟正黑體';
    margin: 0;
}

/* Drawing Area */
.drawingArea {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Line */
.line {
    stroke: black;
    stroke-width: 5;
}
.correctLine {
    stroke: green !important;
    stroke-width: 5;
}
.wrongLine {
    stroke: red !important;
    stroke-width: 5;
}
/* hint */
.overlay{
    position: relative;
    display: none;
    /* display: block; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.hintContainer{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hintContainer > h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #000;
    cursor: pointer;
}
.hintContainer .left, .hintContainer .right{
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 8% 5% 3% 15%;
}
.hintContainer .left{
    padding-left: 10%;
    padding-right: 15%;
}
.hintContainer .left .topicArea {
    margin: 5%;
}
.hintContainer .right{
    margin: 8% 20% 3% 0%;
    padding-right: 10%;
}

/* Explain */
.explain {
    position: absolute;
    width: 800px;
    height: 50px;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
/* Lives */
.lives{
    position: absolute;
    top: 2%;
    /* left: 50%; */
    width: 100px;
    transform: translateX(-25%);
    right: 0;
}
/* Game Area */
.gameArea {
    position: relative;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.gameArea .left, .gameArea .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex: 5;
    margin: 8% 0% 0% 10%;
}

/* Question */
.left .questionArea {
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 40%;
    flex: 2;
    align-items: center;
}
.topicArea {
    position: relative;
    flex: 7;
    height: 100%;
}

/* water */
.topicArea .water{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #02bbdc;
    bottom: 0;
}
/* scalls */
.topicArea .scalls{
    position: absolute;
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}
.topicArea .scalls li{
    list-style: none;
    border: solid 1px black;
}
/* cup */
.topicArea .cup{
    position: absolute;
    border: solid 3px black;
    box-sizing: border-box;
    border-top: none;
    width: 100%;
    height: 100%;
}
/* Answer */
.right .answerArea {
    position: relative;
    margin-left: 40%;
    display: flex;
    margin-top: 5%;
    width: 40%;
    flex: 2;
    align-items: center;
}

/* Fraction */
.fraction{
    display: flex;
    flex: 7;
    flex-direction: column;
    align-items: center;
}
.fraction .top, .fraction .bottom {
    flex: 5;
}
.fraction .fractionalLine{
    border: solid 2px black;
    width: 70%;
}
.fraction .top h1{
    color: red;
}
.fraction h1{
    margin: 0;
}

/* dot */
.gameArea .questionArea .dot, .gameArea .answerArea .dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.gameArea .questionArea .dot {
    margin-left: 10%;
}
.gameArea .answerArea .dot {
    margin-right: 10%;
}