* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 1%;
    align-items: center;
    font-family: '微軟正黑體';
}

#canvas1 {
    position: absolute;
    z-index: 1;
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    margin-top: 10%;
}

#canvas2 {
    position: absolute;
    z-index: 2;
    border: 5px solid #008800;
    border-radius: 6px;
    margin-top: 10%;
}

#canvas3 {
    position: absolute;
    z-index: 3;
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    margin-top: 10%;
}

.chooseBtn {
    z-index: 1;
    margin-left: 1px;
    margin-right: 13px;
    width: 38px;
    height: 38px;
    font-size: 25px;
    border-radius: 50%;
    border-color: rgba(255, 0, 0, 0);
    background-color: #48807d;
    color: antiquewhite;
}

.chooseBtn:hover {
    z-index: 1;
    background-color: #8bbdbc;
    color: #48807d;
}

.stateBtn {
    z-index: 1;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 22px;
    font-family: '微軟正黑體';
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color:black;
    border-radius: 10px;
    border-style: initial;
    background-color: #8bbdbc;
    transition: all .3s linear;
}
.stateBtn:hover {
    z-index: 1;
    background-color: #48807d;
    color: #e7f9f8;
}

.hint {
    position: absolute;
    z-index: 1;
    background-image: url("./asset/image/hint_1.png");
    margin-top: 10%;
    margin-left: 62%;
    background-size: contain;
    width: 350px;
    height: 300px;
    background-repeat: no-repeat;
}

#firework-container {
    position: absolute;
    z-index: 2;
    width : 800px;
    height: 600px;
}

.show {
    display: inline;
}

.hide {
    display: none;
}