* {
    box-sizing: border-box;
}

body {
    display: flex;
    right: 10%;
    align-items: center;
    font-family: '微軟正黑體';
}

#canvas1 {
    position: absolute;
    z-index: 1;
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    top: 15%;
}

#canvas2 {
    position: absolute;
    z-index: 2;
    border: 5px solid #008800;
    border-radius: 6px;
    top: 15%;
}

#canvas3 {
    position: absolute;
    z-index: 3;
    border: 5px solid #b3e6e5;
    border-radius: 6px;
    top: 15%;
}

.chooseBtn {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    border:5px solid #e7f9f8;
    background-color: #48807d;
    color: antiquewhite;
}

.chooseBtn:hover {
    background-color: #8bbdbc;
    color: #48807d;
}

.stateBtn {
    width: 140px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 30px;
    font-family: '微軟正黑體';
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color:black;
    border-radius: 10px;
    border-style: initial;
    background-color: #8bbdbc;
    transition: all .3s linear;
}
.stateBtn:hover {
    background-color: #48807d;
    color: #e7f9f8;
}

.hint {
    position:absolute;
    z-index: 4;
    background-image: url("./asset/image/hint_1.png");
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center center;
    width: 350px;
    height: 300px;
    background-repeat: no-repeat;
}

#firework-container {
    position: absolute;
    top: 15%;
    width : 800px;
    height: 600px;
}
