* {
    /* border: solid 2px black; */
}

body {
    right: 0;
    font-family: '微軟正黑體';
    margin: 0;
}

.gameWindow {
    width: 800px;
}

.canvas {
    position: relative;
    display: flex;
    width: 800px;
    height: 600px;
}

.canvas .topic {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.canvas .canvas1 {
    width: 100%;
    height: 100%;
    border:5px solid #02bbdc;
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
}

.canvas .gameRule {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border:5px solid #02bbdc;
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
}

.canvas .gameRule *{
    font-size: 40px;
}
.canvas .gameRule .context{
    position: relative;
    transform: translateX(15%);
}

.canvas .gameRule #start{
    transform: translateX(5%);
}

.canvas .gameRule #end{
    transform: translateX(30%);
}

.gameBtn {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameBtn * {
    border:2px solid #02bbdc;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.gameBtn *:hover {
    transform: translate(0px, -5px);
    transition: 0.5s;
}

.levelBtn {
    height: 60;
    padding-top: 10px;
    margin: 0;
}
.levelBtn * {
    background-color: #eee;
    color: #8e8e9c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.levelBtn *:hover,.levelBtn *.active {
    background-color: #02bbdc;
    color: #fff;
    transition: 0.5s;
}

.bingo {
    border:2px solid green;
    background-color: green;
    color: #fff;
}

.optionsBtn * {
    background-color: #02bbdc;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    box-sizing: border-box;
}

.optionsBtn *:hover {
    background-color: #eee;
    color: #8e8e9c;
    transition: 0.5s;
}

.optionsBtn {
    position: absolute;
    z-index: 9999;
}

.optionsBtn #lastBtn {
    flex: 2;
}
.optionsBtn #startBtn {
    flex: 5;
}
.optionsBtn #nextBtn {
    flex: 2;
}
.optionsBtn #hintBtn {
    flex: 1;
}
.shadow {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

/* container */

.game_area {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0%;
    left: 0%;
    margin-bottom: 20px;
    justify-content: center;
}


/* fireworks */

#firework-container {
    position: absolute;
    display: none;
    z-index: 99;
    top: 15%;
    left: 5%;
    width : 90%;
    height: 85%;
}

/* result */

.result #bingo,#dada {
    position:absolute;
    margin: 0;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
    display: none;
    font-size: 500px;
}


.result #bingo {
    color: green;
}
.result #dada {
    color: red;
}
