@import url(../../game_view/css/connection_game.css);

* {
    /* border: solid 2px black;
    position: relative; */
}

/* hint */
.overlay{
    /* display: block; */
}

.hintContainer{
    display: flex;
    justify-content: space-evenly;
}
.hintContainer .left, .hintContainer .right{
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 8% 5% 3% 15%;
}
.hintContainer .left{
    padding-left: 10%;
    padding-right: 15%;
}
.hintContainer .left .topicArea {
    margin: 5%;
}
.hintContainer .right{
    margin: 8% 20% 3% 0%;
    padding-right: 10%;
}

/* Game Area */
.gameArea {
    display: flex;
    justify-content: space-between;
}

/* Question Area */
.gameArea .leftArea, .gameArea .centerArea, .gameArea .rightArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    /* margin: 8% 0% 0% 10%; */
}

/* Ever Question Area*/
.questionArea {
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
}

/* Content Area */
.contentArea {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contentArea *{
    display: inline-block;
}

.contentArea h1{
    margin: 0;
}

/* Center Area */
/* units */
.centerArea .contentArea {
    flex: 8;
    height: 100%;
}
.centerArea .contentArea > * {
    display: flex;
    flex: 2;
}
/* Number and Chinese */
.centerArea .contentArea > * > *{
    text-align: center;
    flex: 5;
}
/* Right Area */
.rightArea .contentArea{
    flex: 8;
}
/* units */
.rightArea .contentArea > * {
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 2px solid black;
}
/* Chinese and Number */
.rightArea .contentArea > * > *{
    text-align: center;
    width: 100%;
}

.rightArea .contentArea > * > .chinese{
    display: flex;
    flex-direction: column;
    flex: 6;
    border-bottom: 2px solid black;
}
.rightArea .contentArea > * > .chinese::after{
    content: "ä½";
}